{% extends "base_generic.html" %}

{% block content %}
<p>Welcome to Punjab Roadways!
About Us
Welcome to Punjab Roadways!
About Us
ArrowArrow
WELCOME TO PUNJAB ROADWAYS

Punjab Roadways came into being in the year 1948 with a fleet of 13 buses, which rose gradually to its highest strength of 2407 buses in the year 1985. The primary objective of Punjab Roadways is to provide an economical, reliable and comfortable transport service in the state of Punjab with connecting service to adjoining states. Punjab Roadways is also providing free/concessional travel to the deserving categories identified by the Punjab Government. Punjab Roadways is also operating and monitoring the Bus Stands of Punjab.</p>
{% endblock %}
