{% extends "base_generic.html" %}

{% block content %}
<br>
<br>


<h1>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WELCOME TO PUNJAB ROADWAYS</h1>
      <br>
      <br>

<h5 style="color:black">

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Punjab Roadways came into being in the year 1948 with a fleet of 13 buses, which rose gradually to its highest strength of 2407 buses in the year 1985. The primary objective of Punjab Roadways is to provide<br><br>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; an economical, reliable and comfortable transport service in the state of Punjab with connecting service to adjoining states. Punjab Roadways is also providing free/concessional travel to the deserving <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;categories identified by the Punjab Government. Punjab Roadways is also operating and monitoring the Bus Stands of Punjab.This is a simple startup by my team to ensure that the people of Punjab should<br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; get ample of comfort during their bus journey. </h5>
{% endblock %}


h1 {
	color : #000000;
	text-align : center;
	font-family: "SIMPSON";
}